body {
    background-color: #548C33;
    font-family: "Lusida Sans", "Arial", sans-serif;
}
.container {
    background-color: #fff;
    padding: 20px;
    margin: 60px auto;
    width: 759px;
    -webkit-box-shadow: 0 0 30px 0 #333;
    box-shadow: 0 0 30px 0 #333;
}

header {
    text-align: center;
}
header p {
    font-size: 25px;
    padding-bottom: 20px;
}
.title {
    font-size: 72px;
    margin: 0px;
}
.tagline {
    font-size: 18px;
    margin: 10px 0 0 0;
}
nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    margin: 15px 0 20px 0;
    padding: 0px;
    height: 48px;
}
nav li {
    list-style: none;
    display: block;
    float: left;
}
nav a {
    text-decoration: none;
    font-size:18px;
    width: 118px;
    display: block;
    padding: 15px;
    color:black;
}
nav a:hover {
    background-color: black;
    color: white;
}

section#maincontent h1 {
    font-size: 28px;
}

section#maincontent  {
    font-size: 14px;
    color: #434343;
    font-weight: normal;
    margin-bottom: 10px;
    line-height: 24px;
}
section#maincontent p, h1 {
   padding-left: 5px;
}

.floatright{
	float:right;
}
.floatleft{
	float:left;
}

footer{
	background-color:#bee08e;
	padding:20px 15px;
	margin-top:30px;
}

footer p{
    font-size: 14px;
    color: #4d711a;
}

footer img {
    border: none;
}